body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.v-height{
  height: 85vh;
}
.home-view-padding{
  padding: 5em;
}
.create-group-div{
  flex-grow: 0.5;
}
.cursor-pointer{
  cursor: pointer;
}
.settle-div{
  flex-grow: 0.5;
}
.user-symbol{
  border: 1px solid white !important;
  border-radius: 50%;
  padding: 5px;
  display: inline;
  cursor: pointer;
}